body {
   /* background: #9c9; */
}

#footer {
  z-index: 100;
}


.subsection {
  background: #888;
  font-size: 2em;
  /* text-shadow: 8px 8px 8px #000; */
}

/* remove annoying white line on seubsections */
#preso .slide {
  border-right:thin solid #333;
}

p.filename {
  color: #999;
  padding: 1em;
  font-size: 1.8em;
}

.aside {
  color: #aaa;
}


.no-margin > p {
  margin: 0;
}
.bullets > ul > li {
text-align: left;
}

.note {
  color: white;
}

